body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hello {
  padding: 10px;
  color: white;
  background-color: rebeccapurple;
}

.UserDetail {
  color: white;
  background-color: green;
}

.OtherInfo {
  color: white;
  background-color: blue;
}

.ToggleButton {
  margin: 20px;
  padding: 10px;
  background-color: green;
  color: white;
  width: 200px;
  border: none;
}

.inputForm {
  margin: 20px;
  padding: 10px;
  color:green;
}

.red {
  background-color: red;
  color: white;
}

.green {
  background-color: green;
  color: white;
}